# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\santi\datos\Tecnicatura programacion\Plan Nuevo comision 3\Programacion 1 - Prog\Global\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
